{% extends "base.html" %}
{% block title %}Index - Account{% endblock %}

{% block content %}
<h2>Accounts</h2>

<section>
<ul class="accounts">
{% for account in accounts %} 
  <li>
    {{account.username}}
  </li>
{% endfor %}
</ul>
</section>

{% endblock %}
