{% extends "base.html" %}
{% block title %}Login - Account{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="primary">
    <form method="post" action="">
      <dl>
        {{ render_field(form.email, placeholder="hello@annotateit.org") }}
        {{ render_field(form.password, placeholder="********") }}
      </dl>
      <div class="actions">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
{% endblock %}
