{% extends "base.html" %}
{% block title %}Signup - Account{% endblock %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <div class="primary">
    <form method="post" action="{{url_for('account.signup')}}">
      <dl>
        {{ render_field(form.username, placeholder="myusername") }}
        {{ render_field(form.email, placeholder="hello@annotateit.org") }}
        {{ render_field(form.password, placeholder="********") }}
        {{ render_field(form.confirm, placeholder="********") }}
      </dl>
      <div class="actions">
        <button type="submit">Signup</button>
      </div>
    </form>
  </div>
{% endblock %}
