{% extends "base.html" %}
{% block title %}View - Account{% endblock %}

{% block content %}
<h2>Hi {{account.username}}</h2>

<section>
<p>Your account details are:</p>

<dl>
  <dt>Email</dt>
  <dd>{{account.email}}</dd>
  <dt>Account ID</dt>
  <dd>{{account.id}}</dd>
  <dt>Secret</dt>
  <dd>{{account.secret}}</dd>
  <dt>Registered since</dt>
  <dd>{{account.created}}</dd>
  <dt>Your Auth Token (valid forever)</dt>
  <dd>
    <code>
      {{token}}
    </code>
  </dd>
</dl>
</section>

<section>
  <h2>Bookmarklet</h2>
  <p>The hyperlink below is your personal AnnotateIt bookmarklet.  You should
install it in your bookmarks. You can then annotate any web page by activating
it (just click on the bookmark).</p>
  <p>To install the bookmarklet drag this link into your bookmarks toolbar.</p>
  <p><a href="javascript:{{bookmarklet}}">AnnotateIt</a>.</p>
</section>

<section>
<h2>Recent Annotations</h2>

<ul class="annotations">
{% for anno in annotations %}
  <li class="annotation">
    <div class="text">{{anno.text}}</div>
    <div class="source">
      <q class="quote">{{anno.quote}}</q>
      <a href="{{anno.uri or '#'}}">{{anno.uri or 'No url given'}}</a>
    </div>
    <div class="meta">
      <span class="user">{{anno.user.name or anno.user.id or 'Anonymous'}}</span> &ndash;
      <span class="created">
        {{anno.created}}
      </span>
    </div>
  </li>
{% endfor %}
</ul>
</section>

{% endblock %}
