<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
  <!-- Prevent the conditional comments from stalling page load -->
  <!--[if IE]><![endif]-->

  <title>{% block title %}{% endblock %} - AnnotateIt - Annotating the Web</title>

  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold&amp;subset=latin' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Inconsolata&amp;subset=latin' rel='stylesheet' />
  <link rel="stylesheet" href="/static/main.css">
  {% endblock %}
</head>
<body>
  <div id="airlock">
    <header>
      {% block masthead %}
      <h1>
        <a href="{{url_for('.home')}}" title="The AnnotateIt Homepage">
          AnnotateIt</a>
      </h1>
      <!--
      <h2>The <span id="role">copy-editor</span> of the web</h2>
      -->
      <nav>
        <ul>
        {% if g.account_id %}
          <li><a href="{{ url_for('account.view', id=g.account_id)}}">My Account</a></li>
          <li><a href="{{ url_for('account.logout') }}">Logout</a></li>
        {% else %}
          <li><a href="{{url_for('account.signup')}}">Sign Up</a></li>
          <li><a href="{{url_for('account.login')}}">Log In</a></li>
        {% endif %}
          <li><a href="{{url_for('.home')}}#annotator">Annotator</a></li>
          <li><a href="{{url_for('.home')}}#about">About</a></li>
        </ul>

      <div id="account">
      </div>
      </nav>
      {% endblock %}
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="notification">
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <article>
      {% block content %}{% endblock %}
    </article>

    <footer>
      {% block footer %}
      <p>Annotator was developed by the
        <img src="http://assets.okfn.org/images/logo/okf_logo_white_and_green_tiny.png" id="footer-okf-logo" />
        <a href="http://okfn.org">Open
        Knowledge Foundation</a> with support from the <a
        href="http://www.shuttleworthfoundation.org/">Shuttleworth
        Foundation</a>. Go see what other cool stuff we're doing at the
      moment!</p>
      <div class="widget-area">
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
          <div class="text-widget">
            <ul>
              <li>
                &copy; <a href="http://www.okfn.org/">Open Knowledge Foundation</a>
              </li>
              <li>
                <a href="http://opendefinition.org/okd/" class="img">
                <img alt="This Content and Data is Open" src="http://assets.okfn.org/images/ok_buttons/oc_80x15_blue.png" class="button" />
                </a>
              </li>
              <li>
                <a href="http://opendefinition.org/ossd/" class="img">
                <img alt="This Content and Data is Open"
                  src="http://assets.okfn.org/images/ok_buttons/os_80x15_orange_grey.png" class="button" />
                </a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
        <ul class="xoxo">
          <li class="widget-container widget_text">
          <h3 class="widget-title"></h3>
          <div class="textwidget">
            <ul>
              <li>
                <a href="http://okfn.org/projects/annotator/">Project Home Page</a>
              </li>
              <li>
              <a href="{{url_for('store.home')}}">API</a>
              </li>
              <li>
                <a href="http://github.com/okfn/annotator-store/">API Docs</a>
              </li>
              <li>
                <a href="http://okfn.org/contact/">Contact Us</a>
              </li>
              <li>
                <a href="http://okfn.org/privacy-policy/">Privacy Policy</a>
              </li>
            </ul>
          </div>
          </li>
        </ul>
      </div>
      {% endblock %}
    </footer>
  </div>
</body>
</html>
