{% extends "base.html" %}
{% from "_formhelpers.html" import login_form, signup_form %}
{% block title %}Home{% endblock %}

{% block content %}
    <section>
      <div class="primary">
        <h2>Annotate Anything</h2>
        <p>Now you can Annotate any web page simply by incorporating two lines
        of javascript into your site or running our bookmarklet.</p>
        <ul>
          <li>Annotate any webpage with the bookmarklet</li>
          <li>Add the Annotator to your own site in just two lines of code</li>
        </ul>
        <p><a href="{{url_for('account.signup')}}">Sign Up Now &raquo;</a></p>
      </div>
      <div class="secondary">
        <img class="screenshot" src="/static/images/annotator.png" alt="The annotator" height="223" width="370" />
      </div>
    </section>
    <section>
      <div id="about">
      <div id="annotator" class="primary">
        <h2>The Annotator</h2>
        <div class="thumbnails">
          <img src="/static/images/thumb-add.png" alt="Highlight text to annotate" height="128" width="175" />
          <img src="/static/images/thumb-viewer.png" alt="View annotations by moving your mouse over highlights" height="128" width="175" />
        </div>
        <p>The Annotator is a JavaScript tool that can be added to any webpage
        to allow annotation. Annotations can have comments, tags, users and
        more. See a <a href="http://okfn.github.com/annotator/">live
          demonstration</a> or more in the <a href="#develop">developers
          section</a> below.</p>
      </div>
      <div class="secondary">
        <h2>The Bookmarklet</h2>
        <div class="thumbnails">
          <img src="/static/images/thumb-bookmarklet.png" alt="Add the annotator to any page with the bookmarklet" height="128" width="175" />
          <img src="/static/images/thumb-editor.png" alt="Save annotations to AnnotateIt" height="128" width="175" />
        </div>
        <p>The Bookmarklet is a simple tool that allows you to add the
        annotator to any webpage and save your annotations to AnnotateIt.
        Check out the <a
          href="http://okfn.github.com/annotator/bookmarklet">Bookmarklet
          demo</a> or get your very own bookmarklet right now by <a
          href="{{url_for('account.signup')}}">signing up</a> for an
        account.</p>
      </div>
      </div>
    </section>
    <section>
        <h2 id="develop">Developers</h2>
        <div class="primary">
          <p>Adding the Annotator to a webpage is easy. First you'll need to
             <a href="">download the source code</a> and include it on your
             page along with jQuery. Then simply add the following line to load
             the annotator.</p>
          <pre><code>jQuery('#content').annotator();</code></pre>
          <p>To save the Annotations to the Store you'll need to <a href="#">sign
             up</a> for an AnnotateIt account to get an Account Key and User
             Account. Then include the <a href="#">Store</a> and
            <a href="#">Auth</a> plugins.</p>
        </div>
        <div class="secondary">
          <p>Then sign in to AnnotateIt with the following code</p>
          <pre><code>jQuery('#content').annotator()
    .annotator('addPlugin', 'Store', {
      prefix: 'http://annotateit.org/api'
    })
    .annotator('addPlugin', 'Auth', {
        userId:      'myusername',        // Your AnnotateIt username
        consumerKey: 'some-big-string',   // Your Account Key
        authToken:   'some-bigger-string' // Your Auth Token
    });</code></pre>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script src="/static/main.js"></script>
{% endblock %}
